html {
  background-color: #002b5c;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #f9a01a;
  padding: 0 20px 20px 20px;
  border: 5px solid #00471b;
}

.userNation {
  padding-top: 7rem;
  font-weight: 300;
}

.enjoy {
  font-style: normal;
  font-weight: 400;
}

.jnation {
  font-size: 3rem;
  text-align: center;
}

.form {
  padding-top: 1rem;
}

.staff,
.office {
  display: block;
  text-align: center;
  /* top | right | bottom | left */
  padding: 0 0 1rem 0;
}

.headCoach::after {
  transform: scale(3);
  transform-origin: left;
  background-color: #000000;
}

.hcoach,
.acoaches,
.trainers {
  text-align: center;
  padding: 0 0 0 2rem;
}

.coaches,
.headCoach,
.trainer {
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  padding: 0 0 0 2rem;
  text-decoration: underline;
}

#clarksonDunk img {
  height: 10rem;
  width: 20rem;
  position: absolute;
  left: 15rem;
  padding-top: 1rem;
  }

  #swish img {
    height: 10rem;
    width: 20rem;
    position: relative;
    left: 5rem;
    padding-top: 1rem;  
  }

.ujseason {
  font-size: 0.5rem;
}

.lineup {
  font-size: 0.4rem;
}

.benchwarmers {
  font-size: 0.4rem;
}

.logo:hover {
  transform: scale(1.1);
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  /* margin: 0; */
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  list-style: none;
}

/* links */
/* unvisited link */
a {
  text-decoration: none;
}

a:link {
  color: #ff0000;
}

/* visited link */
a:visited {
  color: #008000;
}

/* mouse over link */
a:hover {
  color: #add8e6;
}

/* selected link */
a:active {
  color: #0000ff;
}

.url {
  font-size: 0.5rem;
}

.roster,
.dancers,
a {
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
}

/* h3 {
  display: flex;
  justify-content: center;
} */

.team {
  display: flex;
  justify-content: center;
}

.coaching {
  font-size: 0.4rem;
  display: block;
  padding: 0.05rem 3rem 1rem 1rem;
  margin: 2px;
  text-align: center;
}

.footer {
  /* top | right | bottom | left */
  padding: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.version {
  text-align: center;
  font-size: 14px;
}

.manny {
  font-weight: 700;
}

#url {
  padding: 0 1rem 0 0;
}

/* horizontal bar */
.hr {
  font-size: 2.5rem;
  margin: 1rem 0;
  height: 2.2rem;
  line-height: 1.1rem;
  background-image: linear-gradient(red, yellow);
  font-style: italic;
  color: #fff;
  text-align: center;
}

.welcome {
  background-image: linear-gradient(#002b5c, #00471b, #f9a01b);
  color: #fff;
}

.welcome2 {
  background-image: linear-gradient(#f9a01b, #002b5c, #00471b);
  /* margin: 0 0 0 0.25em; */
  color: #fff;
}

/* coaching staff */
.hc,
.ac {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 650px) {

  body {
    width: 450px;
    font-size: 15px;
  }

  .headCoach,
  .hCoach,
  .aCoaches,
  .jnation,
  .coaches,
  .trainer,
  .trainers {
    width: 200px;
    text-align: center;
    font-size: 15px;
  }

  .hr {
    font-size: 1.85rem;
    margin: 1rem 0;
    height: 2.2rem;
    line-height: 1.1rem;
    background-image: linear-gradient(red, yellow);
    font-style: italic;
    color: #fff;
   }

  
   img {
    width: 220px;
    height: 150px;
   }

   .headCoach {
    gap: 15px;
  }

  .jnation {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .roster,
  .dancers,
  .staff
  {
    justify-content: flex-start;
  }

  .version {
    width: 500px;
    font-size: 1rem;
    text-align: center;
  }

  .userNation,
  .enjoy {
    display: none;
  }

  .manny p {
    width: 300px;
    padding-top: 85px;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
  }

  a {
    justify-content: flex-start;
  }

  #clarksonDunk, #swish {
    display: none;
  }
}