html {
  background-color: #002b5c;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #f9a01b;
  padding: 0 20px 20px 20px;
  border: 5px solid #00471b;
}

.jnation {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  /* margin: 0; */
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  list-style: none;
}

/* links */
/* unvisited link */
a {
  text-decoration: none;
}

a:link {
  color: #ff0000;
}

/* visited link */
a:visited {
  color: #008000;
}

/* mouse over link */
a:hover {
  color: #add8e6;
}

/* selected link */
a:active {
  color: #0000ff;
}

.url {
  font-size: 0.5em;
}

.roster,
a {
  font-size: 0.5em;
  display: flex;
  justify-content: flex-end;
}

/* h3 {
  display: flex;
  justify-content: center;
} */
.team {
  display: flex;
  justify-content: center;
}

.coaching {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
}
