html {
  background-color: #002b5c;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
}

body {
  /* font-size: 14px; */
  width: 1000px;
  margin: 0 auto;
  background-color: #f9a01b;
  padding: 0 20px 20px 20px;
  border: 5px solid #00471b;
}

.jnation,
.staff,
.starting5,
.bench {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  /* margin: 0; */
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  list-style: none;
}

/* links */
/* unvisited link */
a {
  text-decoration: none;
}

a:link {
  color: #ff0000;
}

/* visited link */
a:visited {
  color: #008000;
}

/* mouse over link */
a:hover {
  color: #add8e6;
}

/* selected link */
a:active {
  color: #0000ff;
}

.url {
  font-size: 0.5em;
}

.roster,
a {
  font-size: 0.5em;
  display: flex;
  justify-content: flex-end;
}

/* h3 {
  display: flex;
  justify-content: center;
} */
.team {
  display: flex;
  justify-content: center;
}

.coaching {
  display: block;
  padding: 0.05em 3em 1em 1em;
  margin: 2px;
  text-align: center;
}

.footer {
  padding: 1em 1em 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.version {
  font-size: 14px;
}

.manny {
  font-size: 14px;
  font-weight: 700;
}

#url {
  padding: 0 1em 0 0;
}

/* horizontal bar */
.hr,
.welcome {
  align-items: stretch;
  margin: 1em 0;
  height: 1.11em;
  line-height: 1em;
  background-image: linear-gradient(red, yellow);
  font-style: italic;
  color: #fff;
  text-align: center;
}

.welcome2 {
  background: #00471b;
  /* margin: 0 0 0 0.25em; */
  color: #fff;
}
